@use "base/mixins" as m;
@use "base/variables" as v;

.acerca{
    @include m.contenedor;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    @include m.tablet{
        flex-direction: row;

    }

    &__img{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      flex-basis: 50%;
    }

    &__contenido{
        text-align: center;
        flex-basis: 50%;
    }


}