@use "base/mixins" as m;
@use "base/variables" as v;


.contacto{
    @include m.contenedor-md;
    h3{
        text-align: center;
    }

    &__boton{
        @include m.boton(v.$negro, v.$blanco);
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        @include m.tablet{
            width: 40%;
            
        }
    }
}