@use "base/mixins" as m;
@use "base/variables" as v;

.contenedor-swiper {
  @include m.contenedor;
  margin-bottom: 5rem;
}

.articulos {
  @include m.contenedor;
 
  @include m.tablet{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }

  &__contenedor {
   display: grid;
   grid-template-columns: repeat(2,1fr);
    @include m.tablet {

      grid-template-columns: repeat(3,1fr);
      gap: 3rem;
      margin: 4rem;
    }
  }

  &__btn {
    @include m.boton(v.$negro, v.$blanco);
    @include m.tablet {
      width: 30%;
      align-self: center;
    }
  }
}

.articulo {
  text-align: center;
  border: 1px solid #ccc;
  min-height: 35rem;
  transition: all 300ms;
  cursor: pointer;
  font-weight: bold;
  @include m.tablet{
    &:hover{
        transform: scale(1.1);
       
    
      }
  }

  p:nth-child(2){
    color: rgb(54, 8, 8);
  }

  a{
    @include m.boton(v.$negro, v.$blanco);
  }

}
