@use "base/mixins" as m;
@use "base/variables" as v;

.footer{
    background-color: rgb(31 44 39);
    &__contenedor{
        @include m.contenedor;
        padding: 2rem;
    }

    &__titulo{
        h2{
            font-size: 2rem;
            position: relative;
            @include m.tablet{
                font-size: 4rem;
            }
            
        }

       
       
    }

    &__h2{
        &::after{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 75%;
            height: .2rem;
            background-color: #ccc;

            @include m.tablet{
                width: 86%;
            }
        }
    }

    &__secciones{
       display: flex;
       flex-direction: column;
       text-align: center;

       @include m.tablet{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        text-align: left;
       }
    }

    &__lista{

        a{
            color: v.$blanco;
        }
    

    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        fieldset{
            border: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        input{
            width: 100%;
            padding: 1rem;
        }

        legend{
            font-weight: bold;

        }

        button{
            @include m.boton(v.$negro,v.$blanco);
        }
    }
}